.footer{
    background-color: rgba(179, 176, 176, 0.76);
    color: rgb(42, 42, 33);
 display: flex;
 text-align: center;
 align-items: center;
 box-sizing: border-box;
 flex-wrap: flex;
 padding-top: 15px;
}

