.App{
background-color: rgb(247, 248, 253);
width: auto;
height: auto;


}



/*estilos para contacto*/

.contenedor-principal-contacto{
  margin-top: 2cm;
}


/* estilos para las pagina personales */

.contenedor-personal{
  margin-top: 3cm;
}


