.contenedor-titulo{
  width: 100%;
text-align: center;
    font-size: 2.7em;
  font-weight:normal;
 background-color:#5490eb9c ;
  text-align: center;
  
color: aliceblue;
height: 1.8cm;
}

.contenedor-rutas{
  background-color: aqua;
}

@media screen and (max-width: 600px) {
  h1 {
    max-width: 400px;
    padding: 10px; 
  }
}
  
  header {
  background-color:#484957;
  color: #fff;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}

header a {
  color: #fff;
  
  margin-right:24px;
}

header a:hover {
  text-decoration: underline;
}
  
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: transparent;
    /* Agregar otros estilos según sea necesario */
  }
 