.App{
  
  max-width: 100%;
  padding: 25px;
}

@media screen and (max-width: 600px) {
  .App {
    max-width: 400px;
    padding: 10px;
  }
}


.contenedor-principal{
 
  max-width: 100%;
  padding: 20px;
  
}
@media screen and (max-width: 600px) {
.contenedor-principal   {
   max-width: 400px;
    padding: 10px;
  }
}
*{
  margin: 0%;
  padding: 0%;
  
}

html,body{
  font-size: px;
  
  ;
}

h2{
  padding-top: 15px;
}